<a href="https://colab.research.google.com/github/JAEILJEON/JAEIL_DATA/blob/main/210630_np%2C_pd%2Cseaborn_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt		   little-char.png	   seoul_map.html
 매수종목2.txt		   ml_class.png		   sonar.csv
 adult.data		   pca_1.png		   stock-data.csv
 auto-mpg.csv		   pca_2.png		  'stock price.xlsx'
 bmi_500.csv		   pca_3.png		  'stock valuation.xlsx'
 citibike.csv		   Picture1.png		   test.db.db
 매수종목.csv		   population_number.csv   test.txt
 data_mine.csv		   ram_price.csv	   ThoraricSurgery.csv
 data_population.csv	   ratings_small.txt	   titanic.xls
 data_studentlist_en.csv   ratings_test.txt	   tmdb_5000_credits.csv
 demo.docx		   ratings_train.txt	   tmdb_5000_movies.csv
 diabetes.csv		   sample1.pdf		   Traffic_Accident_2017.csv
 example.docx		   sample2.pdf		   train.csv
 height_weight.txt	   sample.docx		   user_id_mean.csv
 HelloWorld.xlsx	   sample_merge.pdf	   wine.csv
 house_price.csv	   sample.xlsx		   주가데이터.xlsx
 lenna.png		   score.csv		   남북한발전전력량.xlsx

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
### 영화 평점 구하기 ### 11회차
###이거 완전히 이해해서 안보고 아예 줄줄줄 쓸 수 있으면 복습 끝임.###
data = np.loadtxt(drive_path + 'ratings_small.txt', delimiter='::',dtype=np.int64)
data

##데이터 분석해보기
##전체 평점 구하기
data[:,2].mean()

##각 사용자별 평점 평균 구하기
##1) 1번 사용자의 평균 평점 구하기
data[data[:,0]==1][:,2].mean()

##각 사용자별 평점 평균.
#각 사용자 구할 때 unique 쓰고, 그거로 하나하나씩 해서 빈 리스트에 값 넣어주기
aui = np.unique(data[:,0])
aui
auim = []
for i in aui:
  auim.append([i, data[data[:,0]==i][:,2].mean()])

auim


###4점 이상 사용자 출력하기
### 대박쓰다
auim = np.array( auim, dtype=int )
auim[auim[:,1] >=4][:,0]

In [ ]:
### 판다스 타이타닉 ### 9회차

## Pandas 연습 04-1
#1. 타이타닉호 승객 데이터(train.csv)를 데이터프레임으로 읽어 온다.
#train = pd.read_csv(drive_path + 'train.csv', index_col='PassengerId')
#train.head()

#2. 타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.
#train.info()


## Pandas 연습 04-2
#1. 타이타닉호 승객 중 성별(Sex) 인원수, 나이별(Age) 인원수, 선실별(Pclass) 인원수, 사망/생존(Survived) 인원수를 구하라.
train['Sex'].value_counts()
train['Age'].value_counts()

## Pandas 연습 04-3
#1. 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해  ‘미성년자‘, ‘청년‘, ‘중년‘, ‘장년‘, ‘노년’ 승객의 비율을 구하라.
#(단, 그룹별 비율의 전체 합은 1이 되어야 한다.)

bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
#생존자
age = train[train['Survived']==1]['Age']
age_cut = pd.cut(age,bins,labels=labels)
age_cut.value_counts()/age_cut.count()


## Pandas 연습 04-4
#1. 선실(Pclass), 성별(Sex)로 생존자 수를 구하라.
train[ ['Pclass','Sex','Survived'] ].groupby( ['Pclass','Sex'] ).sum()

In [19]:
##판다스 요약 6회차

dic = {'city': ['서울', '부산', '대전', '대구', '광주'],
        'year': [2017, 2017, 2018, 2018, 2018],
        'temp': [18, 20, 19, 21, 20]}


#'year', 'city', 'temp'를 가지고 데이터 프레임 만들어라
df = pd.DataFrame(dic)
df

# index -> 'a','b','c','d','e' 인덱스에 이름 추가하라는 이야기
df.index = 'a','b','c','d','e'

# columns -> '도시','연도','날씨' 열 부분에 추가하라는 거~
df.columns = '도시','연도','날씨'

# index -> '도시'
#f.columns.name = '특성'
df.index.name = '도시'
df.columns.name = '특성'

df

특성  도시    연도  날씨
도시
a   서울  2017  18
b   부산  2017  20
c   대전  2018  19
d   대구  2018  21
e   광주  2018  20

In [ ]:
### SEABORN 시각화 ### 이건 복습 안해씀 ㅠ

#seaborn이 그렇게 편하다면서?
import seaborn as sns

df = sns.load_dataset('mpg')
df.info()

# 히스토그램

sns.displot( df['mpg'], bins=50, kde=True, color='r' )   #자료를 넣어줘야하니까 데이터프레임의 mpg를 쓰겠다고 하면 mpg에 대해서만 만들어짐
#kde는 커널밀도 함수를 통한 곡선을 그려줌.
#색상은 컬러로 바꾸면 됨.
plt.show()

# Hex
#헥사로 했기 때문에 6각형이 나오는 거임.

#sns.jointplot(kind = 'hex', data=df)    #이러면 y값이 없다고 오류가 뜬다.
sns.jointplot(kind = 'hex', data=df, x='weight', y='mpg', color='green', ) #분명 무게와 연비의 상관관계를 다루겠다는 이야기였는데요...
                                                          #위에는 히스토그램임. 히스토그램과 산점도를 동시에 보여준다..


# kde
#만약에 hex가 아니라 kde로 바꾸면?!
sns.jointplot(kind='kde', data=df, x='weight', y='mpg', color='green')
plt.show()


# box
sns.boxplot(data=df, y='mpg')


#만약에 박스를 여러개 그려주고 싶다면?!
sns.boxplot(data=df, y='mpg', x='origin')
plt.show()


# 바이올린
sns.violinplot(data=df, y='mpg', x='origin')


#붓꽃 품종 건드리는 거..

df = sns.load_dataset('iris')
df.head()

# 산점도 행렬
#산점도는 2개만 비교할 수 있음. 근데 붓꽃은 요소가 4개잖아? 4x4. 많은 요소가 있을 때 어떤 요소들이 제일 연관도가 높느냐! 이런 것을 좀 봄. 
sns.pairplot(df)

#예쁘게 그려보기

sns.pairplot(df, hue='species') #분류용으로 사용하기 좋은 녀석임. 분류용으로 산점도 자주 활용함