<a href="https://colab.research.google.com/github/JAEILJEON/JAEIL_DATA/blob/main/210701np%2C_pd%2Cseaborn_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt		   little-char.png	   seoul_map.html
 매수종목2.txt		   ml_class.png		   sonar.csv
 adult.data		   pca_1.png		   stock-data.csv
 auto-mpg.csv		   pca_2.png		  'stock price.xlsx'
 bmi_500.csv		   pca_3.png		  'stock valuation.xlsx'
 citibike.csv		   Picture1.png		   test.db.db
 매수종목.csv		   population_number.csv   test.txt
 data_mine.csv		   ram_price.csv	   ThoraricSurgery.csv
 data_population.csv	   ratings_small.txt	   titanic.xls
 data_studentlist_en.csv   ratings_test.txt	   tmdb_5000_credits.csv
 demo.docx		   ratings_train.txt	   tmdb_5000_movies.csv
 diabetes.csv		   sample1.pdf		   Traffic_Accident_2017.csv
 example.docx		   sample2.pdf		   train.csv
 height_weight.txt	   sample.docx		   user_id_mean.csv
 HelloWorld.xlsx	   sample_merge.pdf	   wine.csv
 house_price.csv	   sample.xlsx		   주가데이터.xlsx
 lenna.png		   score.csv		   남북한발전전력량.xlsx

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [10]:
### 영화 평점 구하기 ### 12회차
###이거 완전히 이해해서 안보고 아예 줄줄줄 쓸 수 있으면 복습 끝임.###
#data = np.loadtxt(drive_path + 'ratings_small.txt', delimiter='::',dtype=np.int64)
#data

##데이터 분석해보기
##전체 평점 구하기
data[:,2]

##각 사용자별 평점 평균 구하기
##1) 1번 사용자의 평균 평점 구하기
data[data[:,0]==1][:,2].mean()

##각 사용자별 평점 평균.
#각 사용자 구할 때 unique() 함수 써서 하나씩 전체 구분. sql에서 distinct, group by 같은 느낌.
aui = np.unique(data[:,0])
aui
auim = []
for i in aui:
  auim.append([i,data[data[:,0] == i][:,2].mean()])
auim

###4점 이상 사용자 출력하기
### 대박쓰다
auim = np.array(auim, dtype = int)
auim[auim[:,1] >= 4][:,0]

array([   1,    4,    7,   10,   17,   20,   27,   36,   43,   46,   53,
         54,   55,   64,   65,   67,   69,   74,   75,   76,   81,   82,
         86,   88,   91,   97,  101,  103,  105,  106,  109,  112,  121,
        124,  125,  126,  128,  129,  130,  138,  150,  152,  153,  156,
        158,  161,  162,  164,  171,  177,  183,  184,  186,  187,  189,
        196,  205,  210,  213,  215,  220,  222,  228,  230,  231,  233,
        234,  235,  239,  244,  246,  248,  252,  255,  257,  259,  265,
        266,  270,  274,  275,  283,  285,  288,  291,  297,  299,  300,
        307,  309,  311,  313,  316,  320,  322,  325,  330,  332,  336,
        339,  341,  343,  345,  346,  356,  366,  367,  372,  374,  375,
        376,  379,  381,  382,  399,  404,  408,  412,  413,  417,  420,
        421,  427,  434,  437,  444,  446,  447,  450,  451,  452,  455,
        466,  469,  472,  473,  485,  486,  494,  496,  502,  503,  505,
        514,  518,  521,  523,  525,  527,  529,  530,  537,  538,  543,
        553,  564,  567,  568,  574,  577,  582,  583,  584,  586,  588,
        589,  590,  592,  594,  597,  605,  606,  607,  609,  615,  617,
        623,  625,  626,  630,  634,  635,  636,  638,  640,  641,  642,
        645,  653,  657,  661,  664,  671,  674,  681,  682,  690,  691,
        703,  711,  714,  716,  725,  733,  739,  740,  750,  755,  758,
        760,  761,  764,  767,  768,  775,  784,  786,  790,  797,  806,
        809,  811,  814,  815,  817,  829,  831,  833,  834,  838,  840,
        848,  852,  857,  858,  863,  864,  875,  878,  879,  882,  884,
        885,  894,  898,  902,  914,  917,  926,  928,  931,  932,  942,
        943,  946,  951,  953,  957,  962,  965,  968,  969,  979,  982,
        983,  985,  987,  989,  994,  998, 1000, 1002, 1003, 1005, 1007,
       1018, 1021, 1023, 1026, 1031, 1036, 1040, 1041, 1048, 1052, 1062,
       1063, 1071, 1072, 1073, 1075, 1077, 1081, 1082, 1089, 1092, 1095,
       1098, 1108, 1110, 1111, 1129, 1131, 1132, 1134, 1143, 1157, 1170,
       1171, 1175, 1176, 1180, 1186, 1188, 1190, 1191, 1192, 1197, 1208,
       1213, 1215, 1217, 1224, 1225, 1229, 1232, 1234, 1241, 1245, 1250,
       1252, 1254, 1256, 1258, 1268, 1269, 1271, 1275, 1276, 1278, 1282,
       1289, 1290, 1302, 1305, 1306, 1307, 1315, 1320, 1322, 1324, 1330,
       1336, 1338, 1343, 1349, 1351, 1355, 1361, 1363, 1364, 1368, 1371,
       1378, 1382, 1388, 1393, 1400, 1401, 1402, 1407, 1409, 1410, 1423,
       1428, 1430, 1437, 1443, 1446, 1452, 1456, 1459, 1469, 1477, 1479,
       1481, 1488, 1490, 1507, 1511, 1513, 1518, 1520, 1526, 1528, 1532,
       1536, 1539, 1541, 1555, 1558, 1561, 1568, 1569, 1577, 1578, 1586,
       1588, 1590, 1591, 1595, 1602, 1604, 1618, 1619, 1623, 1638, 1643,
       1645, 1654, 1663, 1668, 1670, 1673, 1681, 1682, 1684, 1692, 1697,
       1699, 1702, 1703, 1704, 1707, 1718, 1720, 1722, 1724, 1727, 1728,
       1732, 1734, 1740, 1744, 1746, 1751, 1764, 1771])

In [22]:
### 판다스 타이타닉 ### 10회차

## Pandas 연습 04-1
#1. 타이타닉호 승객 데이터(train.csv)를 데이터프레임으로 읽어 온다.
train = pd.read_csv(drive_path + 'train.csv', index_col='PassengerId')
train.head()#

#2. 타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.
#train.info()


## Pandas 연습 04-2
#1. 타이타닉호 승객 중 성별(Sex) 인원수, 나이별(Age) 인원수, 선실별(Pclass) 인원수, 사망/생존(Survived) 인원수를 구하라.
train['Sex'].value_counts()

## Pandas 연습 04-3
#1. 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해  ‘미성년자‘, ‘청년‘, ‘중년‘, ‘장년‘, ‘노년’ 승객의 비율을 구하라.
#(단, 그룹별 비율의 전체 합은 1이 되어야 한다.)

bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
#생존자
a = train[train['Survived']==1]['Age']
ac = pd.cut(a,bins,labels=labels)
ac.value_counts()

## Pandas 연습 04-4
#1. 선실(Pclass), 성별(Sex)로 생존자 수를 구하라.
#group by 를 쓰게 되는데, 

train[ ['Pclass','Sex','Survived'] ].groupby( ['Pclass','Sex'] ).sum()

               Survived
Pclass Sex
1      female        91
       male          45
2      female        70
       male          17
3      female        72
       male          47

In [ ]:
##판다스 요약 6회차

dic = {'city': ['서울', '부산', '대전', '대구', '광주'],
        'year': [2017, 2017, 2018, 2018, 2018],
        'temp': [18, 20, 19, 21, 20]}


#'year', 'city', 'temp'를 가지고 데이터 프레임 만들어라

# index -> 'a','b','c','d','e' 인덱스에 이름 추가하라는 이야기


# columns -> '도시','연도','날씨' 열 부분에 추가하라는 거~


# index -> '도시'
#f.columns.name = '특성'


df

특성  도시    연도  날씨
도시
a   서울  2017  18
b   부산  2017  20
c   대전  2018  19
d   대구  2018  21
e   광주  2018  20

In [ ]:
### SEABORN 시각화 ### 이건 복습 안해씀 ㅠ

#seaborn이 그렇게 편하다면서?
import seaborn as sns

df = sns.load_dataset('mpg')
df.info()

# 히스토그램

sns.displot( df['mpg'], bins=50, kde=True, color='r' )   #자료를 넣어줘야하니까 데이터프레임의 mpg를 쓰겠다고 하면 mpg에 대해서만 만들어짐
#kde는 커널밀도 함수를 통한 곡선을 그려줌.
#색상은 컬러로 바꾸면 됨.
plt.show()

# Hex
#헥사로 했기 때문에 6각형이 나오는 거임.

#sns.jointplot(kind = 'hex', data=df)    #이러면 y값이 없다고 오류가 뜬다.
sns.jointplot(kind = 'hex', data=df, x='weight', y='mpg', color='green', ) #분명 무게와 연비의 상관관계를 다루겠다는 이야기였는데요...
                                                          #위에는 히스토그램임. 히스토그램과 산점도를 동시에 보여준다..


# kde
#만약에 hex가 아니라 kde로 바꾸면?!
sns.jointplot(kind='kde', data=df, x='weight', y='mpg', color='green')
plt.show()


# box
sns.boxplot(data=df, y='mpg')


#만약에 박스를 여러개 그려주고 싶다면?!
sns.boxplot(data=df, y='mpg', x='origin')
plt.show()


# 바이올린
sns.violinplot(data=df, y='mpg', x='origin')


#붓꽃 품종 건드리는 거..

df = sns.load_dataset('iris')
df.head()

# 산점도 행렬
#산점도는 2개만 비교할 수 있음. 근데 붓꽃은 요소가 4개잖아? 4x4. 많은 요소가 있을 때 어떤 요소들이 제일 연관도가 높느냐! 이런 것을 좀 봄. 
sns.pairplot(df)

#예쁘게 그려보기

sns.pairplot(df, hue='species') #분류용으로 사용하기 좋은 녀석임. 분류용으로 산점도 자주 활용함